html,
body {
	min-height: 2476px;
	min-width: 1440px;
	margin: 0;
	padding: 0;
	
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400; 
	color: #283136;
	
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); 
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.button {
	font: inherit;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	
	background-color: #fb565a;
	border: none;
}

.button:hover,
.button:focus {
	background-color: #e74246;
}

.button:active {
	color: rgba(255, 255, 255, 0.3);
	
	background-color: #d7373b;
}

/* Стили для шапки */

header {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

.header-wrapper {
	width: 100%;	
	background-color: #eeeeee;
}

.main-navigation {
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	color: #000000;
	text-transform: uppercase;

	display: flex;
	align-items: center;
	justify-content: space-between;
	
	padding-top: 50px;
}

.main-header-logo {
	width: 160px;
	height: 65;
	margin-right: 200px;
}

.main-header-logo:focus,
.main-header-logo:hover {
	opacity: 0.8;
}

.main-header-logo:active {
	opacity: 0.3;
}

.site-navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;

	list-style: none;
	width: 440px;
	margin: 0;
	padding: 0;
}

.cart-navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;

	list-style: none;
	margin-left: auto;
}

.cart-link {
	padding-left: 41px; 
	
	background-image: url(../img/cart-icon.svg);
	background-repeat: no-repeat;
	background-position: 0 50%;
}

.site-navigation a,
.cart-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.cart-navigation a:hover,
.cart-navigation a:focus {
	color: #fb565a;
}

.site-navigation a:active,
.cart-navigation a:active {
	color: #000000;
	opacity: 0.3;
}

.site-navigation-current {
	border-bottom: 2px solid #fb565a;
} 

.slider {
	position: relative;
	width: 1160px;
	height: 430px;
	margin: 0, auto;
}

.slide {
	display: none;
	
	position: absolute;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.slide-text {
	padding: 0;
	margin: 0;
	margin-top: 80px;
}

.slide-1 .slide-text {
	width: 380px;
}

.slide-2 .slide-text {
	width: 560px;
}

.slide-3 .slide-text {
	width: 460px;
}

.slide b{
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
}

.slide-button {
	display: inline-block;
	
	margin: 0;
	margin-top: 30px;
	padding: 19px 54px;
}

.slide-1 {
	background-image: url("../img/slide1.png");
	background-repeat: no-repeat;
	background-position: 100% 100%;
}

.slide-2 {
	background-image: url("../img/slide2.png");
	background-repeat: no-repeat;
	background-position: 100% 100%;
}

.slide-3 {
	background-image: url("../img/slide3.png");
	background-repeat: no-repeat;
	background-position: 100% 100%;
}

.slider input[type=radio]{
	position: absolute;
	
	opacity: 0;
}

.slider-controls {
	position: absolute;
	bottom: 95px;
	left: 50%;
	z-index: 2;
	
	width: 150px;
	height: 10px;
	margin-left: -75px;
	
	text-align: center;
}

.slider-controls label {
	display: inline-block;
	
	width: 4px;
	height: 4px;
	margin: 0, 3px;
	
	background-color: white;
	border: 3px solid white;
	border-radius: 50%;
	
	vertical-align: top;
	
	cursor: pointer;
}

#slider-control-1:checked ~ .slider-controls label[for="slider-control-1"],
#slider-control-2:checked ~ .slider-controls label[for="slider-control-2"],
#slider-control-3:checked ~ .slider-controls label[for="slider-control-3"] {
	background-color: #c1c1c1;
}

#slider-control-1:checked ~ .slide-1 {
	display: block;
}

#slider-control-2:checked ~ .slide-2 {
	display: block;
}

#slider-control-3:checked ~ .slide-3 {
	display: block;
}

.catalog-page-title {
	margin: 0;
	margin-left: 220px;
	margin-top: 85px;
	padding-bottom: 115px;
	
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
	text-transform: none;
}

/* Стили для подвала*/

footer {
	padding-bottom: 70px;
}

.footer-top {
	height: 420px;
	margin: 0;
	margin-top: 80px;
	padding: 0;

	background-image: url("../img/map-bg.jpg");
	background-repeat: no-repeat;
	background-position: 50% 0%;
}

.footer-contacts {	
	display: inline-block;
	
	width: 320px;
	height: 310px;
	margin-top: 55px;
	margin-bottom: 55px;
	
	background-color: #ffffff;
}

.footer-contacts p {
	margin-left: 50px;

	line-height: 18px;
	color: #666666;
}

.footer-contacts p:first-child {
	margin-top: 50px;

	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
}

.footer-contacts .button {
	display: inline-block;
	
	margin: 0;
	margin-top: 20px;
	margin-left: 50px;
	padding: 19px 45px;
}


.footer-social {
	display: flex;
	
	margin-top: 70px;
}

.footer-social b {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: #000000;
}

.footer-social p {
	line-height: 22px;
	color: #444444;
}

.social-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	order: -1;
	
	list-style: none;
	width: 260px;
	margin: 0;
	margin-right: 140px;
	padding: 0;
}

.social-button {
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 80px;
	height: 80px;
	
	color: #ffffff;
	
	background-color: #e1e1e1;
	border-radius: 50%;
}

.social-button:hover,
.social-button:focus {	
	color: #ffffff;
	
	background-color: #e74246;
}

.social-button:active {
	color: rgba(255, 255, 255, 0.3);
	
	background-color: #d7373b;
}

.social-button:active path{
	fill: rgba(255, 255, 255, 0.3);
}

/* Стили для модального окна */

.modal h2 {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
}

.modal fieldset {
	border: none;
}

.modal legend {
	line-height: 18px;
	color: #000000;
	font-weight: 700;
}

.modal input,
.modal textarea {
	border: 2px solid #d7dcde;
	
	line-height: 18px;
}

.modal-button {
	padding: 19px 84px;
}

/* Стили для содержания главной страницы*/

.services {
	margin-top: 85px;
	min-height: 510px;
	display: flex;
	border-bottom: 2px solid #eeeeee;
}

.service-item {
	padding-top: 175px;
	margin-right: 100px;
	width: 300px;
	height: 350px;
}

.service-item h3 {
	margin: 0;
	
	font-size: 24px;
	line-height: 30px;
	color: #000000;
	font-weight: 700;
	text-transform: uppercase;
}

.service-item .button {
	display: inline-block;
	
	margin: 0;
	margin-top: 35px;
	padding: 19px 40px;
}

.service-item-1 {
	background-image: url("../img/illustration-1.jpg");
	background-repeat: no-repeat;
}

.service-item-2 {
	background-image: url("../img/illustration-2.jpg");
	background-repeat: no-repeat;
}

.service-item-3 {	
	margin-right: 0;

	background-image: url("../img/illustration-3.jpg");
	background-repeat: no-repeat;
}

.service-item-1 .button {
	background-color: #fb565a;
}

.service-item-1 .button:focus,
.service-item-1 .button:hover {
	background-color: #e74246;
}

.service-item-1 .button:active {
	background-color: #d7373b;
	color: rgba(255, 255, 255, 0.3);
}

.service-item-2 .button {
	background-color: #00ca74;
}

.service-item-2 .button:focus,
.service-item-2 .button:hover {
	background-color: #00bc6c;
}

.service-item-2 .button:active {
	background-color: #00aa62;
	color: rgba(255, 255, 255, 0.3);
}

.service-item-3 .button {
	background-color: #efc84a;
}

.service-item-3 .button:focus,
.service-item-3 .button:hover {
	background-color: #eab534;
}

.service-item-3 .button:active {
	background-color: #e5a722;
	color: rgba(255, 255, 255, 0.3);
}

.about-us {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: flex-start;
	
	min-height: 487px;
	margin-top: 40px;

	border-bottom: 2px solid #eeeeee;
}

.about-us-text h2 {
	margin: 0;
	padding: 0;

	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

.about-us-item h3 {
	margin: 0px;
	padding: 0px;

	font-weight: 700;
}

.about-us-item {
	height: 160px;
}

.about-us-item:first-child {
	width: 460px;
}

.about-us-item:last-child {
	width: 360px;
}

.about-us-text-wrapper {
	min-height: 210px;

	background-image: url(../img/nerds-illustration.jpg);
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.about-us-text{
	width: 660px;
	margin: 0;
	margin-top: 40px;
	padding: 0;
}

.about-us-text p {
	margin: 0;
	margin-top: 50px;
	padding: 0;
}

.about-us-info {
	display: flex;
	justify-content: space-between;
	
	margin-top: 35px;
}

.about-us-list {
	list-style: none;
	margin: 0;
	padding: 0;

}
 .about-us-list li {
 	position: relative;
 	
 	padding-left: 37px;
	margin-top: 20px;
 }

.about-us-list li:before {
	content: "";
	
	position: absolute;
	left: 0;
	top: 50%;
	
	width: 25px;
	height: 2px;
	
	background-color: #fb565a;
}

.about-us-table {
	border-collapse: collapse;
	border-spacing: 0;
}

.about-us-table th {
	padding-top: 30px;
	padding-right: 10px;

	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
	text-align: left;
}

.about-us-table td {
	padding-top: 18px;
}

.partners {
	height: 135px;
	margin-top: 50px;
	
	border-bottom: 2px solid #eeeeee;
}

.partners-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	list-style: none;
	margin: 0;
	padding: 0;
}

.partners-list a,
.partners-list a {
	opacity: 0.2;
}

.partners-list a:focus,
.partners-list a:hover {
	opacity: 1;
}

.partners-list a:active {
	opacity: 0.1;
}

/* Стили для содержания страницы каталога */

.catalog-wrapper {
	display: flex;
	align-items: flex-start;
}

.catalog-column-1 {
	width: 260px;
	margin-right: 140px;
}

.catalog-column-2{
	width: 760px;
}

.filter {
	margin-top: 60px;
}

.filter fieldset {
	border: none;
	margin: 0;
	padding: 0
}

.filter fieldset:not(:first-of-type) {
	border: none;
	margin: 0;margin-top: 60px;

	padding: 0
}
.filter legend {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
}

.filter ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.filter li {
	position: relative;

	margin-top: 20px;
	padding-left: 36px;
}

.range-filter {
	width: 240px;
	margin-top: 50px;	
}

.range-controls {
	position: relative;

	height: 80px;
	margin-bottom: 15px;
	padding: 0 30px;

	background-color: #f1f1f1;
	border-radius: 5px;

	overflow: hidden;
}

.range-controls .scale {
	margin-top: 39px;
	height: 2px;

	background-color: #d7dcde;
}

.range-controls .bar {
	height: 2px;
	background-color: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top: 30px;
	left: 30px;

	width: 4px;
	height: 4px;

	border: 8px solid white;
	border-radius: 50%;
	background-color: #ababab;
	box-shadow: 2 2px 1px 0 #cfcfcf;

	cursor: pointer;
}

.price-controls {
	display: flex;
	justify-content: space-between;
}

.range-controls .max-toggle {
	left: 145px;
}

.price-controls input {
	width: 60px;
	padding: 8px 10px;
	margin-left: 5px;

	border: none;
	border-radius: 5px;
	background-color: #f1f1f1;

	font :inherit;
}


.filter-option label {
	line-height: 20px;
}

.filter-option label:focus,
.filter-option label:hover {
	color: #000000;
}

.filter-option label:active {
	color: #283136;
	
	opacity: 0.3;
}

.filter-input-radio-label:before {
	content: "";
	position: absolute;
	top: 0;
	left:  0;

	box-sizing: border-box;

	width: 25px;
	height: 25px;
	
	background-color: white;
	border: 4px solid #b8b8b8;
	border-radius: 50%;
}

.filter-input-radio-label:hover:before {
	content: "";
	position: absolute;
	top: 0;
	left:  0;

	box-sizing: border-box;

	width: 25px;
	height: 25px;
	
	background-color: white;
	border: 4px solid #4d4d4d;
	border-radius: 50%;
}

.filter-input-radio:checked ~ .filter-input-radio-label:before {
	content: "";
	position: absolute;
	top: 0;
	left:  0;

	width: 25px;
	height: 25px;
	
	background-color: #b8b8b8;
	border-radius: 50%;

	box-shadow: inset 0 0 0 4px #ffffff;
}

.filter-input-radio:checked ~ .filter-input-radio-label:hover:before {
	content: "";
	position: absolute;
	top: 0;
	left:  0;

	width: 25px;
	height: 25px;
	
	background-color: #4d4d4d;
	border-radius: 50%;

	box-shadow: inset 0 0 0 4px #ffffff;
}

.filter-input-checkbox-label:before {
	content: "";
	position: absolute;
	top: 0;
	left:  0;

	box-sizing: border-box;

	width: 25px;
	height: 25px;
	
	background-color: white;
	border: 4px solid #b8b8b8;
}

.filter-input-checkbox-label:hover:before {
	content: "";
	position: absolute;
	top: 0;
	left:  0;

	box-sizing: border-box;

	width: 25px;
	height: 25px;
	
	background-color: white;
	border: 4px solid #4d4d4d;
}

.filter-input-checkbox:checked ~ .filter-input-checkbox-label:before {
	content: "";
	position: absolute;
	top: 0;
	left:  0;

	width: 25px;
	height: 25px;
	
	background-color: #b8b8b8;

	box-shadow: inset 0 0 0 4px #ffffff;
}

.filter-input-checkbox:checked ~ .filter-input-checkbox-label:hover:before {
	content: "";
	position: absolute;
	top: 0;
	left:  0;

	width: 25px;
	height: 25px;
	
	background-color: #4d4d4d;

	box-shadow: inset 0 0 0 4px #ffffff;
}

.filter-button {
	margin-top: 50px;
	padding: 19px 89px;

	color: #000000;
	line-height: 18px;
	font-weight: 500;
	
	background-color: #eeeeee;
}

.filter-button:focus,
.filter-button:hover {
	background-color: #dfdfdf;
}

.filter-button:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #d5d5d5
}

.sort {
	display: flex;
	align-items: baseline;

	margin-top: 63px;
}

.sort h2 {
	margin: 0;
	margin-right: 267px;

	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.sort-list-1,
.sort-list-2 {
	display: flex;
	justify-content: space-between;

	list-style: none;
	margin: 0;
	padding: 0
}

.sort-list-1 {
	width: 271px;
	margin-right: 48px;
}

.sort-list-2 {
	width: 40px;
}

.sort-button {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;
	
	opacity: 0.3;
}

.sort-button:hover,
.sort-button:focus{
	opacity: 0.6;
}

.sort-button:active{
	opacity: 1;
}

.sort-button-active{
	opacity: 1;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	
	width: 760px;
	height: 1914px;
	list-style: none;
	margin: 0;
	margin-top: 60px;
	padding: 0;
}

.catalog-item {
	position: relative;
}

.hover-catalog-item {
	display: none;
	
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 2;

	width: 360px;
	height: 230px;

	text-align: center;

	background-color: #eeeeee;
}

.hover-catalog-item h3 {
	margin: 0;
	margin-top: 25px;

	font-size: 19px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.hover-catalog-item p {
	margin: 0;
	margin-top: 20px;

	line-height: 18px;
	color: #666666;
}

.buy-button {
	margin-top: 25px;
	padding: 15px 61px;
}

.catalog-item a:hover ~ .hover-catalog-item {
	display: block;
}
.hover-catalog-item:hover {
	display: block;
}

.hover-catalog-item a {
	color: #000000;
}

.pagination-list {
	display: flex;
	
	width: 443px;
	list-style: none;
	margin: 0;
	margin-top: 60px;
	padding: 0;
}

.pagination-item a{
	display: inline-block;
	
	margin-right: 11px;
	padding: 14px 21px;
	
	color: #000000;
	line-height: 22px;

	background-color: #eeeeee; 
}

.pagination-item a:hover {
	background-color: #dfdfdf;
}

.pagination-item a:active {
	background-color: #d5d5d5;
	color: rgba(0, 0, 0, 0.3);
}

.pagination-item-current a{
	background-color: #ffffff;
	outline: 3px solid #dbdbdb;
	outline-offset: -3px;
}